* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

span {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

header {
    background: #18191b;
    border-top: 2px solid #4fb51e;    
}

#top-hdr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    border-bottom: 1px solid #000000;
}

#logo, #srch {
    padding: 30px 20px;
}

#logo a {
    color: rgba(255,255,255,255);
    font-size: 32px;
    
}

#logo p {
    color: rgba(153,153,153,255);
    font-size: 12px;
}

#srch input {
    background: #28282b;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    color: rgba(88,92,95,255);
    box-sizing: border-box;
    padding: 10px 110px 10px 8px;
}

.btn {
    cursor: pointer;
    background: #4fb51e;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    color: rgba(255,255,255,255);
    text-transform: uppercase;
    padding: 10px;
}

header ul {
    width: 100%;
    display: inline-flex;
    background: #1f1f21;

}

header ul li {
    border-right: 1px solid #28282b;
}

header ul li:last-child {
    border-right: none;
}

#btm-hdr ul li a {
    display: block;
    color: rgba(255,255,255,255);
    font-size: 16px;
    text-transform: uppercase;
    padding: 25px 20px;
}

#btm-hdr ul li a:hover {
    background: #000000;
    cursor: pointer;
    transition: 0.5s;
}

.container #btm-hdr {
    width: 100%;
    border-bottom: 1px solid #000000;
}

#btm-hdr ul li a:last-child {
    padding-right: 25px;
}

#image img {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#description {
    position: absolute;
    display: inline-flex;
    margin-top: 270px;
}

#description .slider-back-block {
    background: #4fb51e;
}

#description p {
    width: 550px;
    text-align: center;
    font-size: 36px;
    color: rgba(255,255,255,255);
    padding: 15px 0px 15px 10px;
}

#arows {
    display: grid;
    align-items: center;
    padding: 5px;
    background: #1f2021;
    cursor: pointer;
}

.left_arow {
    width: 90%;
}

.right_arow {
    width: 90%;
}

.latest_one {
    text-transform: uppercase;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    height: 5px;
    background: #ebebeb;
    margin-bottom: 30px;
}

.latest_one span {
    color: rgba(74,74,74,255);
    background: white;
    padding: 10px;
    max-width: 160px;
    font-size: 16px;
    display: block;
    position: relative;
    margin: auto;
    top: -16px;
}

#gallery {
    width: 100%;
    justify-content: space-between;
}

.wrap {
    max-width: 300px;
}

.wrap .wrap-image img {
    width: 100%;
}

.wrap h2 {
    color: #4a4a4a;
    text-align: left;
    font-size: 16px;
    padding-top: 30px;
    text-transform: uppercase;
}

.wrap p {
    color: #999999;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.wrap a {
    cursor: pointer;
    background: #4fb51e;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    color: rgba(255,255,255,255);
    text-transform: uppercase;
    padding: 10px;
    display: block;
    width: 90px;
    margin-bottom: 40px;
}

#chsrters-block {
    justify-content: space-between;
    margin-bottom: 40px;
}

#products {
    max-width: 490px;
}

.latest_two {
    text-transform: uppercase;
    text-align: center;
    max-width: 490px;
    margin: 0 auto;
    height: 5px;
    background: #ebebeb;
    margin-bottom: 30px;
}

.latest_two span {
    color: rgba(74,74,74,255);
    background: white;
    padding: 10px;
    max-width: 160px;
    font-size: 16px;
    display: block;
    position: relative;
    margin: auto;
    top: -16px;
}

.product-block {
    display: flex;
    padding: 10px 0;
}

.product-block .radius-img {
    border: none;
    border-radius: 50%;
}

.product-block .comment {
    padding-left: 10px;
}

.comment h2 {
    font-size: 15px;
    color: rgba(88,91,95,255);
    padding-bottom: 15px;
}

.comment p {
    color: rgba(153,153,153,255);
    font-size: 15px;
    padding-bottom: 20px;
}

.comment .row-block {
    font-size: 13px;
    color: rgba(78,180,30,255);
}

.product-block .full_img {
    padding: 3px;
    border: 1px solid #dadada;
}

.comment-block {
    padding-left: 20px;
}

.comment-block h2 {
    font-size: 15px;
    color: rgba(88,91,95,255);
}

.comment-block .position {
    padding-bottom: 20px;
}

.comment-block p {
    color: rgba(153,153,153,255);
    font-size: 15px;
}

.product-block .comment-block a {
    font-size: 13px;
    color: rgba(78,180,30,255);
}

footer {
    background: #18191b;
}

#footer-top {
    justify-content: space-between;
    border-bottom: 1px solid #27282c;
}

.footer-block {
    max-width: 300px;
}

.footer-block h2 {
    text-transform: uppercase;
    font-size: 15px;
    padding: 35px 0;
    color: rgba(151,151,151,255);
    font-weight: bold;
}

.footer-block h3 {
    color: rgba(88,92,95,255);
    font-size: 14px;
    padding-bottom: 5px;
}

.footer-block p {
    font-size: 13px;
    color: rgba(88,91,95,255);
    padding: 10px 0;
}

.footer-block a {
    font-size: 13px;
    color: rgba(78,180,30,255);
}

.newsletter form input {
    background: #28282b;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: rgba(88,92,95,255);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.newsletter form button {
    margin-bottom: 40px;
}

#footer-botom {
    justify-content: space-between;
}

#footer-botom p {
    display: block;
    color: rgba(88,92,95,255);
    font-size: 12px;
    padding: 15px 0 20px 0;
}

@media(max-width: 1030px) {
    .container {
        margin: 0 8px !important;
    }

    #gallery {
        width: 98%;
    }
}

@media(max-width: 970px) {
    #btm-hdr ul li a {
        padding: 15px 10px;
    }
       
    #slider {
        justify-content: flex-start;
    }

    #image img {
        margin-bottom: 0;
    }
    
    #description {
        width: 440px;
        max-height: 100px;
        margin-top: 250px;
    }

    #description p {
        font-size: 26px;
        padding: 8px 0px 8px 5px;
    }

    #arows {
        display: inline-flex;
        background: none;
        padding: 0;
    }

    .left_arow {
        padding: 23px 10px;
        background: #1f2021;
    }

    .right_arow {
        padding: 23px 10px;
        background: #1f2021;
    }
  
    .latest_one span {
        margin-top: 25px;
    }

    #gallery {
        width: 96%;
        justify-content: space-between;
    }

    #chsrters-block {
        width: 98%;
    }

    .latest_two {
        max-width: 450px;
    }
}


@media(max-width: 930px) {
    .wrap img {
        width: 90%;
    }

    .latest_two {
        max-width: 450px;
    }
}

@media(max-width: 840px) {
    #description {
    width: 405px;
    max-height: 100px;
    margin-top: 220px;
    }

    #chsrters-block {
        flex-direction: column;
    }

    #products {
        display: contents;
    }
}

@media(max-width: 785px) {
    #logo, #srch {
        padding: 10px 10px;
    }

    #btm-hdr ul li a:last-child {
        padding-right: 10px;
    }

    #btm-hdr ul li a {
        padding: 10px 5px;
    }
}

@media(max-width: 760px) {
    #description {
        margin-top: 185px;
    }
}

@media(max-width: 700px) {
    #description p {
        width: 200px;
        font-size: 15px;
    }

    #description {
        margin-top: 165px;
    }
}

@media(max-width: 660px) {
    #srch input {
        padding: 10px 0px 10px 8px;
    }

    .container {
        margin: 0 5px 0 5px !important;
    }

    #description {
        width: 98%;
        max-width: 550px;
        margin-top: 130px;
    }

    #top-hdr {
        flex-direction: column;
        align-items: center;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        border-right: none;
    }

    #gallery {
        flex-direction: column;
    }

    #gallery .wrap {
        display: contents;
    }

    .wrap img {
        width: 98%;
    }

    .latest_two span {
        margin: 5px 0;
    }

    #footer-top {
        flex-direction: column;
        align-items: center;
    }

    #footer-botom {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 540px) {
    #description {
        display: none;
    }
}